@import 'src/styles/variables.scss';

.field {
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  line-height: 25px;

  &:focus {
    outline: none;
  }
  &::placeholder {
    font-size: 20px;
  }
}

.errors {
  display: flex;
  color: $red;
}
